﻿@using IgniaTest.Models

@model WeatherModel


<table>
    <caption>
        <p>Weather data from <a href="https://www.accuweather.com">Accuweather</a></p>
    </caption>
    <thead>
        <tr>
            <th>Current Temperature</th>
            <th>The Weather is</th>
            <th>Links</th>           
        </tr>
    </thead>
    <colgroup>
        <col span="1">
        <col span="1">
        <col span="1">
        <col span="1">
    </colgroup>
    <tbody>
        <tr>
            <td data-th="Current Temperature">@Model.Temperature.Metric.GetTemp()</td>
            <td data-th="The Weather is">@Model.WeatherText</td>
            <td data-th="Links"><a href="@Model.MobileLink">Weather link for mobile devices</a> <br />  <a href="@Model.Link">Weather link for desktop</a></td>
           
        </tr>
    </tbody>
</table>


