﻿
@model List<SelectListItem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Weather.css">

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/Weather.js"></script>
    <title>Check the Weather</title>
</head>
<body>
    <div class="container">
        <div id="headline">
            <header>
                <h1>Weather Checker</h1>
                <p>Check Weather Conditions Using the Accuweather API</p>
            </header>
        </div>
    </div>
    <div id="section1">
        <div class="container">
            <div id="dialog-modal" title="Basic modal dialog" style="display: none;"></div>

            <h2>Select Location</h2>
            <label for="countries">Select Country: </label>
            @Html.DropDownList("countries",
                      Model,
                      "Select Country",
                      new { name = "countries" })
            <label for="citySearch">City: </label>
            <input id="citySearch" name="citySearch" type="text" placeholder="City Search...." />
            <input id="getWeather" type="button" value="Search..." />
        </div>
    </div>
    <div id="section2">
        <div class="container">
            <div id="partialDiv"></div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p><a></a></p>
        </div>

    </footer>
</body>
</html>