﻿.container {
    margin: auto;
    max-width: 800px;
}

@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }

    table td {
        display: block;
        position: relative;
        padding-left: 50%;
        padding-top: 13px;
        padding-bottom: 13px;
        text-align: left;
        background: #e9e9e9;
    }

        table td:before {
            content: attr(data-th) " :";
            display: inline-block;
            color: #000000;
            background: #e9e9e9;
            border-right: 2px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 33%;
            max-height: 100%;
            font-size: 16px;
            font-weight: 300;
            padding-left: 13px;
            padding-top: 13px;
        }
}


